@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,400,500,600&display=swap');

body {
  background-image: url('images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

header {
  display: flex;
  justify-content: center;
}
